<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title> Facebook Registration </title>
	<style>
	  html,body{
	              height:100%;
				  margin:0px;
				  padding:0px;
				  font-family:inherit;
	  
	           }
	         a{
			    text-decoration:none;
				color:#9cb4d8;
				cursor: pointer;
			   }
	</style>




</head>
<body>
   <div style="color:#EDEDF5;;background-color:#3b5998; width:100%; height:10%;display:table;" name="main divsion1">
    <div style="display:table-row">
	    <div style="float:left; padding-left:20px;font-family: inherit;font-size:18px;" name="main1 division1">
	      <h1>facebook</h1>
	    </div>
		
	<div style="float:right;padding-top:20px;margin:0px;padding-right:200px;font-family: inherit;" name="main1 division2">
	<table role="presentation" cellspacing="0">
	   <tbody>
	     <tr>
		    <td>
		       <label name="email">Email or Phone</label>
		    </td>
		    <td>
		       <label name="pass">Password</label>
		    </td>
	     </tr>
	     <tr>
	        <td>
		      <input class="inputtext" name="email" id="email" tabindex="1" data-testid="royal_email" type="email">
		    </td>
		    <td>
		      <input class="inputtext" name="pass" id="pass" tabindex="2" data-testid="royal_pass" type="password">
		    </td>
		    <td>
		    <label class="uiButton uiButtonConfirm" id="loginbutton" id="u_0_a">
		      <input style="background-color:#4267b2;color:#ffffff;padding: 2px 8px;" value="Log In" tabindex="4" data-testid="royal_login_button" id="u_0_a" type="submit" onclick= "login();" >
		    </label>
		    </td>
	     </tr>
	     <tr>
		    <td class="login_form_label_field">
		      <div  style="padding-bottom:4px;"><a href="#">Forgotten account?</a></div>
		    </td>
	     </tr>
	   </tbody>
	</table>
	</div>
   </div>
  </div>
  <div style="color:#000000; background-color:#e9ebee; width:100%; height:75%; display:table;font-family: inherit;" name="main divsion2">
      <div style="display:table-row">
	    <div style="float:left;" name="main2 division1">
	      <h1 style="padding-left:20px;" >Recent logins</h1>
		  <h3 style="padding-left:20px;">Click your picture or add an account.</h3>
		  <img style="padding-left:20px;" src="images/profile.jpg"/>
		  <img style="padding-left:20px;" src="images/send.jpg"/>
	    </div>
	    <div style="float:right;" name="main2 division2">
	      <h1 style="padding-right:310px;">Create a new account</h1>
		  <h3 style="padding-right:310px;">It's free and always will be.</h3>
		<form>
		    <input style="width:20%;height:20px;" type="text" name="first name" placeholder=" First Name" >  <input style="wirth:20%;height:20px;" type="text" name="first name" placeholder=" Surname"> </br></br>
			<input style="width:300px;height:20px;" type="text" name="first name" placeholder=" Mobile number or email address" > </br></br>
			<input style="width:300px;height:20px;" type="text" name="first name" placeholder=" New password " > <br/> <br/>
		    <select style="width:100px;height:20px;">
                <option value="date">1</option>
                <option value="date">2</option>
                <option value="date">3</option>
                <option value="date">4</option>
             </select>
			 <select style="width:100px;height:20px;">
                <option value="month">Jan</option>
                <option value="month">Feb</option>
                <option value="month">Mar</option>
                <option value="month">Apr</option>
             </select>
			 <select style="width:100px;height:20px;">
                <option value="year">2018</option>
                <option value="year">2017</option>
                <option value="year">2016</option>
                <option value="year">2015</option>
             </select>
			 <br/> <br/>
			<input type="radio" name="male" value="Female"> Female
            <input type="radio" name="male" value="male"> Male
			<h6 style="color:#fffff;">
			     By clicking Create Account, you agree to our Terms and confirm that you have read our Data Policy,<br/> 
				 including our Cookie Use Policy. You may receive SMS message notifications from Facebook and can <br/> 
				 opt out at any time.
			 <h6>
			   <input style="width:200px;height:50px; background-color:#2c5115; color:#ffffff;" type="button" value=" Create Account "  />
		</form>
	   </div>
	  </div>
   </div>
  
   <div style="color:#ffffff; background-color:#3b5998; width:100%; height:15%;font-family: inherit;text-align:center;padding-top:20px;" name="main divsion3">
     <h3>This is a Foter</h3> 
   </div>	

   



<!-- relative path loading -->
<script src="../js/validation.js" type="text/javascript"></script>
























</body>
</html>